<p id="notice"><%= notice %></p>

<h2>Wyświetl tramwaj</h2>
<hr/>

<div class="text-justify">
  <h4><b>Nazwa:</b> <%= @tramwaj.nazwa %></h4>
  <h6><b>Rok produkcji:</b> <%= @tramwaj.rok_produkcji %></h6>
  <b>Opis:</b> <%= @tramwaj.opis %>
</div>
<br>

